name: Deployment Workflow

on:
  push:
    branches:
      - staging
      - production
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Un-Deploy Deployment Environment'
        required: true
        options:
          - un-deploy-staging
          - un-deploy-production

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment:
          - staging
          - production
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip install awscli
          wget https://releases.hashicorp.com/terraform/1.5.5/terraform_1.5.5_linux_amd64.zip
          unzip terraform_1.5.5_linux_amd64.zip -d /tmp
          sudo chmod 775 /tmp/terraform
          sudo mv /tmp/terraform /usr/bin/

      - name: Deploy to Staging
        if: ${{ matrix.environment == 'staging' }}
        run: ENVIRONMENT=staging API_DOMAIN=open-ai-staging.mediasix.com API_ROOT_DOMAIN=mediasix.com ./deploy.sh

      - name: Deploy to Production
        if: ${{ matrix.environment == 'production' }}
        run: ENVIRONMENT=prod API_DOMAIN=open-ai.mediasix.com API_ROOT_DOMAIN=mediasix.com ./deploy.sh

  un-deploy:
    runs-on: ubuntu-latest
    needs: deploy
    if: github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip
          pip install awscli
          wget https://releases.hashicorp.com/terraform/1.5.5/terraform_1.5.5_linux_amd64.zip
          unzip terraform_1.5.5_linux_amd64.zip -d /tmp
          sudo chmod 775 /tmp/terraform
          sudo mv /tmp/terraform /usr/bin/

      - name: Un-deploy Staging
        if: github.event.inputs.environment == 'un-deploy-staging'
        run: ENVIRONMENT=staging API_DOMAIN=open-ai-staging.mediasix.com API_ROOT_DOMAIN=mediasix.com ./deploy.sh -d

      - name: Un-deploy Production
        if: github.event.inputs.environment == 'un-deploy-production'
        run: ENVIRONMENT=prod API_DOMAIN=open-ai.mediasix.com API_ROOT_DOMAIN=mediasix.com ./deploy.sh -d
